body{
	background-image: url("../images/bg5.png");
	background-size: 
}

.header{
	width:	auto;
	background-color: #450101;
	margin-top: -21px;
	height: 70pt;
	margin-left: -5%;
	margin-right: -5%;
	background-image: url("../images/head5.png");

}

#logo{
	color: #596607;
	float: left;
}

#login{
	float:right;
	padding-right: 5pt;
	margin-top: 25pt;
}

#logbutton{
	color: #088A4B;
    margin-top:-10pt;
	background-color: #5C8A00;
	border-color:  #032903;
}
.down{
	margin-top: 30px;
	min-height: 300pt;
}
#intro{
	float: left;
	width: 40%;
	height: 330pt;
	margin-top: 10pt;
	margin-left: 10pt;
	background-image: url("../images/main1.jpg");
	border-radius: 15px;
	box-shadow: 20pt 20pt 20pt;

}
#button{
    position: absolute;
}

#signup{
	float: right;
	width: 50%;
	border-radius: 15px;
	height: 330pt;
	margin-top: 10pt;
	margin-left: 10pt;
	margin-right: 10pt;
	padding-left: 20pt;
	background-image: url("../images/signbg.png");
	box-shadow: 20pt 20pt 20pt;

}
#signup h3{
    color: #1A3300;
}
#category{
	margin-left: -8px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-bottom: 6px;
	float: none;
}
#signup input{
	margin-left: 10%;
}
#signup label{
        padding-left: 9%;
        color: #1A3300;
        display: inline-block;
        float :left;
        font-size: 16px;
        font-weight: bold;
        width: 100px;
}

.signupinp{
	margin-top: 5px;

}
.centerp{
	height: 200pt;
	width: 350pt;
	border: 2pt solid black;
	border-color: green;
	border-radius: 10px;
	text-align: center;
	margin-top: 50pt;
	margin: auto;
}

img{
	margin: auto;
	margin-left: 44%;

}

footer{
	bottom: 0px;
	position: absolute;
	text-align: right;
	padding-left: 80%;
}
